:root {
  --primary: #008ecc;
  --white: #fff;
  --text: #666666;
  --heading: #222222;
  --card-border: #ededed;
  --searchbar-background: #f3f9fb;
  --dropdown-border: #ccc;
  --dropdowncontent-hover: darkgray;
  --button-hover: #ffc915;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --body-background: #e1e1e1;
  --logo-text-background: #78c9ec33;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
}

.container {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content {
  height: 5.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--white);
}
.result-body {
  background-color: var(--body-background);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding-top: 30px;
  padding-bottom: 50px;
  row-gap: 42px;
  overflow-x: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  fill: var(--primary);
  width: 8.6rem;
  height: 1.7rem;
  display: flex;
  align-items: baseline;
  gap: 0.6rem;
  order: 1;
}
.logo:hover {
  cursor: pointer;
}

.logo h1 {
  color: var(--primary);
  text-align: center;
  font-family: Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  background-color: var(--logo-text-background);
  padding-left: 3px;
  padding-right: 3px;
}
.logo img {
  height: 1.7rem;
  width: 8.6rem;
}

.cart-icon {
  min-width: 1.5rem;
  min-height: 1.5rem;
  display: flex;
  justify-content: baseline;
  align-content: baseline;
  align-items: center;
  gap: 5px;
  order: 3;
}
.cart-icon:hover {
  cursor: pointer;
}
.cart-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.cart-detail span {
  padding: 0.2rem 0.5rem;
  border-radius: 70%;
  background-color: var(--primary);
  color: var(--white);
  font-size: smaller;
}
.cart-detail p {
  font-family: Inter;
  font-weight: bold;
  font-size: small;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 40%;
  background-color: var(--white);
  border: 1px solid var(--dropdown-border);
  display: block;
  z-index: 1;
  color: var(--text);
  font-family: Inter;
}

.dropdown-content option {
  background-color: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  color: var(--heading);
  font-family: Inter;
}

.dropdown-content option:hover {
  background-color: var(--card-border);
  cursor: pointer;
  border-bottom: 1px solid var(--searchbar-background);
  color: var(--heading);
}

.search-field-container {
  display: flex;
  align-items: center;
  position: relative;
  order: 2;
}

.search-field {
  height: 3rem;
  flex-shrink: 0;
  background-color: var(--searchbar-background);
  font-size: medium;
  border: none;
  padding-right: 12.2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  font-family: Inter;
}
.search-field:active {
  border: none;
}

.search-icon {
  height: 1.1rem;
  flex-shrink: 0;
  cursor: pointer;
  margin-left: -1.8rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.dropdown-arrow:hover {
  cursor: pointer;
}

.dropdown-arrow {
  background-color: var(--searchbar-background);
  padding: 0.95rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: Inter;
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 14.1rem;
  height: 18rem;
  box-shadow: 0 4px 8px var(--card-shadow);
  overflow: hidden;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: var(--searchbar-background);
}

.image {
  width: 100%;
  height: 72%;
  overflow: hidden;
  position: relative;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 9.3rem;
  height: 12rem;
  transition: transform 0.3s ease-in-out;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.card:hover .image img {
  transform: scale(1.1);
}
.card:hover .card-overlay {
  opacity: 1;
}

.card-overlay p {
  color: var(--white);
  text-align: center;
  font-size: 1rem;
}

.rating-button-container button {
  background-color: var(--white);
  padding: 8px 23px 8px 23px;
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  font-family: Inter;
  font-weight: 500;
  outline: none;
  position: absolute;
  top: 30%;
  visibility: hidden;
  z-index: 2;
  left: 21%;
  width: 132px;
}
.card:hover button {
  visibility: visible;
}
.card:hover button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.title-price-container {
  display: flex;
  flex-direction: column;
  
}
.rating-button-container {
  display: flex;
  justify-content: left;
  gap: 50px;
}

.card-content {
  padding-left: 20px;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  background-color: var(--searchbar-background);
  
}

.title p {
  font-size: 1rem;
  margin: 5px 0 0 0;
  font-family: Inter;
}

.price p {
  font-size: 0.9rem;
  color: var(--heading);
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bolder;
}
.rating {
  margin-top: 0;
}

.sale-tag {
  position: absolute;
  top: -18px;
  right: -18px;
  background-color: var(--primary);
  color: var(--white);
  padding: 35px 35px 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  font-family: Inter;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.card:hover .card-overlay {
  opacity: 1;
}
.result-title {
  color: var(--primary);
  font-family: Inter;
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 30px;
  grid-column: span 5;
}
.result {
  background-color: var(--body-background);
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .header-content {
    border-bottom: none;
  }
  .container {
    border-bottom: 1px solid var(--dropdown-border);
    padding: 0 30px 0 30px;
    background-color: var(--white);
  }
  .search-field {
    padding-right: 0rem;
  }
  .dropdown-arrow {
    padding: 0.95rem;
  }
  .dropdown-content {
    width: 50%;
  }
  .logo img {
    height: 1.5rem;
    width: 5.6rem;
  }
  .logo h1 {
    font-size: 1.7rem;
  }
  .result-body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 46px;
    margin: 0 auto;
    justify-content: center;
  }
  .card {
    width: 14.1rem;
    height: 17.7rem;
  }
  .result-title {
    margin-left: 40px;
  }
}

@media screen and (max-width: 630px) {
  .header-content {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo {
    order: 1;
    margin-top: 30px;
  }
  .cart-icon {
    order: 2;
    margin-left: auto;
    margin-top: 30px;
  }

  .search-field-container {
    order: 3;
    width: 100%;
  }

  .search-field {
    border-radius: 0;
    border-top: 2px solid var(gray);
    padding-left: 28px;
    margin-top: 18px;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    cursor: pointer;
    margin-right: 0px;
    margin-top: 16px;
  }

  .dropdown-content {
    width: 100%;
    justify-content: space-between;
    top: 100%;
    z-index: 3;
  }

  .dropdown-arrow {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: -16px;
  }

  .logo img {
    height: 1.5rem;
    width: 5.6rem;
  }

  .logo h1 {
    font-size: 1.7rem;
  }
  .dropdown-arrow {
    position: absolute;
    left: -1.8rem;
  }

  .card {
    width: 18.7rem;
    height: 18.2rem;
  }
  .card-overlay {
    z-index: 2;
  }
  .sale-tag {
    z-index: 1;
  }
  .result-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    row-gap: 32px;
  }

  .title-price-container {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .rating-button-container button {
    position: relative;
    visibility: visible;
    margin-left: -30px;
    background-color: var(--button-hover);
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    border: none;
  }
  .rating-button-container {
    gap: 0;
  }
  .price p {
    margin-top: 10px;
  }
  .title p {
    margin-left: -30px;
  }
  .result-title {
    padding-top: 70px;
    text-align: start;
    grid-column: span 1;
    margin-left: 40px;
  }
}
