
@media screen and (max-width: 1024px) {
  .container {
    border-bottom: 1px solid var(--dropdown-border);
    background-color: var(--white);
  }
  .logo {
    flex-basis: 25%;
    padding-left: 30px;
  }
  .search-field-container {
    flex-basis: 60%;
  }
  .cart-icon {
    flex-basis: 20%;
    padding-right: 30px;
  }

  .dropdown-arrow {
    padding: 0.95rem;
    display: flex;
    flex-basis: 15%;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .search-field {
    flex-basis: 60%;
  }
  .search-icon {
    flex-basis: 10%;
    justify-content: end;
  }
  .dropdown-content {
    width: 50%;
  }
  .logo img {
    height: 1.5rem;
    width: 5.6rem;
  }
  .logo h1 {
    font-size: 1.7rem;
  }
  .result-body {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    row-gap: 46px;
    margin: 0 auto;
    justify-content: center;
  }
  .card {
    width: 14.1rem;
    height: 17.7rem;
  }
  .result-title {
    margin-left: 40px;
  }
}

@media screen and (max-width: 630px) {
  .header-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
    flex-basis: 30%;
    margin-top: 25px;
    padding-left: 20px;
  }
  .cart-icon {
    order: 2;
    flex-basis: 30%;
    margin-top: 25px;
    padding-right: 20px;
  }

  .search-field-container {
    order: 3;
    flex-basis: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 48px;
    margin-top: 25px;
    margin-left: 0;
  }

  .search-field {
    border-radius: 0;
    border-top: 2px solid var(gray);
  }

  .dropdown-content {
    width: 100%;
    top: 100%;
    z-index: 3;
  }

  .dropdown-arrow {
    padding: 0.5rem;
  }

  .logo img {
    height: 1.5rem;
    width: 5.6rem;
  }

  .logo h1 {
    font-size: 1.7rem;
  }

  .card {
    width: 18.7rem;
    height: 18.2rem;
  }
  .card-overlay {
    z-index: 2;
  }
  .sale-tag {
    z-index: 1;
  }
  .result-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-items: center;
    row-gap: 32px;
  }

  .title-price-container {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .rating-button-container button {
    position: relative;
    visibility: visible;
    margin-left: -30px;
    background-color: var(--button-hover);
    border-radius: 6px;
    padding: 5px 20px 5px 20px;
    border: none;
  }
  .rating-button-container {
    gap: 0;
  }
  .price p {
    margin-top: 10px;
  }
  .title p {
    margin-left: -30px;
  }
  .result-title {
    padding-top: 70px;
    text-align: start;
    grid-column: span 1;
    margin-left: 40px;
  }
  .result {
    display: grid;
  }
}
